# Base de datos Aurora MySQL (RDS)
DB_HOST=mydb.cluster-abcdefghijkl.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=SuperSecretPassword123
DB_NAME=mi_base_de_datos

# S3
USE_S3=true
S3_BUCKET=mi-bucket-usuarios


# AWS (si no usás roles IAM)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=XXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=YYYYYYYYYYYYYYYYYYYYY

#JWT CLAVE
JWT_SECRET=unaClaveSuperSecreta123!